body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

@page {
    size: auto;
    margin: 0;
}

.cv {
    max-width: 210mm;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    row-gap: 24px;
    grid-auto-rows: minmax(30px, auto);
}

.spacer {
    grid-column: 3/7;
}

.line {
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    height: 12px;
}

/* ------- */

.name {
    font-size: 24px;
    font-weight: 900;
    grid-column: 2/4;
    grid-row: 2/4;
}

.contact {
    grid-row: 2/4;
    grid-column: 7/9;
}

/* ------- */

.title {
    grid-column: 2/4;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.subtitle {
    grid-column: 2/4;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
}

.text {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 12px;
    padding-bottom: 5px;
}

.grey {
    color: grey;
}

.small {
    font-size: 10px;
}

/* ------- */

.date {
    grid-column: 2/4;
}

.work {
    grid-column: 4/8;
}

/* ------- */

.programming {
    grid-column: 2/4;
}

.tools {
    grid-column: 4/6;
}

.languages {
    grid-column: 6/8;
}

/* ------- */

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    padding: 5px 0;
    font-size: 12px;
}
