html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;

    font-weight: 400;
    font-size: 16px;

    overflow: hidden;
    opacity: 0;
    min-height: 620px;

    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    display: -moz-box;

    -moz-box-pack: center;
    -moz-box-align: center;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: box;
    box-pack: center;
    box-align: center;

    -webkit-animation: fadeIn ease-in;
    -moz-animation: fadeIn ease-in;
    animation: fadeIn ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

p {
    line-height: 28px;
}

.yellow {
    font-weight: 500;
    background-color: #ffdb3a;
    border-radius: 500px;
    padding: 0 10px;
    white-space: nowrap;
}

.card {
    min-height: 250px;
    margin: auto;
    max-width: 650px;
    color: black;
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (orientation: portrait) {
    .card {
        min-height: 250px;
        margin: auto;
        height: 100%;
        color: black;
        display: flex;
        padding: 5%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.profile-photo {
    max-height: 250px;
    max-width: 250px;
    height: 25%;

    margin: 10px;
    padding: 5px;
    top: 120px;
    left: 20px;

    border: 5px solid transparent;
    border-radius: 1000px;
    
    object-fit: cover;
    display: block;
}

.info {
    max-width: 320px;
    align-items: center;
    padding: 10px;
}

.info>* {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    height: 1em;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    opacity: 0.7;
}

h1:after {
    content: '';
    display: inline-block;
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
    margin: -5px 0 0 -16px;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    list-style-type: none;
    font-size: 22px;
}

.link {
    font-weight: bold;
}

.networks a {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 39px;
    border-radius: 55px;
}

.networks a:hover {
    background: #a6a6a6;
}

.networks span {
    display: none;
}

/* Yellow border */
#top,
#bottom,
#left,
#right {
    background: #ffdb3a;
    position: fixed;
    margin: 5px;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 5px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 5px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

/* Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* CV pulse */
.cv {
    box-shadow: 0 0 0 0 rgba(255, 219, 58, 0.8);

    -webkit-animation: pulse 1.5s infinite cubic-bezier(0.33, 0, 0, 1);
    -moz-animation: pulse 1.5s infinite cubic-bezier(0.33, 0, 0, 1);
    -ms-animation: pulse 1.5s infinite cubic-bezier(0.33, 0, 0, 1);
    animation: pulse 1.5s infinite cubic-bezier(0.33, 0, 0, 1);
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(255, 219, 58, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(255, 219, 58, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(255, 219, 58, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(255, 219, 581, 0);
    }
}