@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat-Light.otf');
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* body { */
/* font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: beige;
    margin: 10%;
    padding: 10%; */
/* border-width: 3;
    border-color: #ffdb3a;
    border-style: solid; */

/* overflow: hidden;
  opacity: 0; */
/* background-color: #222222;
*/

/* display:-ms-flexbox; */
/* -ms-flex-pack:center;
  -ms-flex-align:center;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  display:box;
  box-pack:center;
  box-align:center; */

/* -webkit-animation: fadeIn ease-in;
     -moz-animation: fadeIn ease-in;
          animation: fadeIn ease-in;

  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

  -webkit-animation-duration: 0.25s;
     -moz-animation-duration: 0.25s;
          animation-duration: 0.25s;

  -webkit-animation-delay: 0.25s;
     -moz-animation-delay: 0.25s;
          animation-delay: 0.25s; */
/* } */

body {
    font-family: 'Consolas', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
body::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 3px solid #ffdb3a;
}

.main {
    /* background-color: #ffdb3a; */
    display: flex;
    border: 2px solid black;
    padding: 1rem;
}

.profile-photo {
    border: 3px solid #ffdb3a;
    border-radius: 1000px;
    padding: 5px;
    display: block;
    height: 250px;
    float: left;
    width: 250px;
}

.info {
    display: flex;
    flex-direction: column;
    border: 3px solid #ffdb3a;
    justify-content: center;
    padding: 2%
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: blue;
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

/* h2 a {
    color: #777;
}

h2 a:hover {
    color: #000;
} */


/* =========== */

/* .info {
    float: left;
    margin: 50px 0 0 50px;
    width: 320px;
    height: 125px;
    border-width: 2;
    background-color: #ffdb3a;
}

.info > * {
    margin-bottom: 23px;
} */

/* h1,
h2 {
    height: 1em;
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 39px;
    letter-spacing: -2px;
}

h2 {
    font-size: 16px;
    margin-left: 2px;
}

h1:after,
h2:after {
    content: '';
    display: inline-block;
    width: 100%;
}


ul {
    display: block;
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
    margin: -5px 0 0 -16px;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    font-size: 22px;
}

.networks a {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 39px;
    border-radius: 55px;
}

.networks a:hover {
    background: #a6a6a6;
}

.networks span {
    display: none;
}

.icon-mail {
    font-size: 21px;
} */
